include AUTHORS
include INSTALL
include LICENSE
include NOTICE
include README
include MANIFEST.in
include requirements.txt
include setup.cfg
include setup.py
recursive-include src/thumbnail_works *.py
graft docs
